*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
}
.qr{
    height: 240px;
}
.flex-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
  
   
}
.card{
    background-color: #fff;
    max-width: 240px;
}