*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
}
.qr{
    height: 240px;
    border-radius: 15px;
}
.flex-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
  
   
}
.card{
    background-color: #fff;
    max-width: 240px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.text-main{
    font-family: "outfit";
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    color: hsl(218, 44%, 22%);
}
.text-sec{
    font-family: "outfit";
    font-weight: 400;
    text-align: center;
    font-size: small;
    color: hsl(216, 15%, 48%);
    margin-top: 10px;
}